*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
.calculator{
    position: absolute;
    top: 45%;
    left: 44%;
}
.calculator input{
    display: block;
    background-color: #555;
    border-radius: 20px;
    height: 30px;
    border: none;
    outline: none;
    padding: 20px;
}
.input-two{
    margin-top: 20px;
}
::-webkit-input-placeholder{
    color: #000;
    padding-left: 10px;
}
select{
    display: block;
    width: 200px;
    text-align: center;
    background-color: #555;
    margin-top: 20px;
}
button{
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 54px;
    border-radius: 20px;
    background-color: red;
    font-weight: 600;
}
p{
    color: #fff;
    font-size: 60px;
    margin-left: 500px;
}